<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{link_fragements :: links}">
</head>
<body>
<div class="page">
    <!-- Main Navbar-->
    <header class="header">
        <nav th:replace="~{component_fragements :: nav_fragements}" class="navbar"></nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav th:replace="~{component_fragements :: side_fragement(1)}" class="side-navbar"></nav>
        <div class="content-inner account-search">
            <form class="form-inline" method="post" action="#">
                <div class="form-group account-group">
                    <label for="name" class="account-label">用户名:</label>
                    <input type="text" name="name" class="form-control  menu-input" autocomplete="off" id="name">
                </div>
                <div class="form-group account-group">
                    <label for="realName" class="account-label">真实姓名:</label>
                    <input type="text" name="address" class="form-control menu-input" autocomplete="off" id="realname">
                </div>
                <div class="form-group account-group">
                    <label for="phoneNumber" class="account-label">注册手机号:</label>
                    <input type="text" name="email" class="form-control menu-input" autocomplete="off" id="phoneNumber">
                </div>
                <div class="form-group account-group">
                    <label class="account-label">所属部门:</label>
                    <select class="form-control menu-input" name="apartment">
                        <option>请选择部门</option>
                        <option>财务部</option>
                        <option>销售部</option>
                        <option>总裁办</option>
                        <option>...</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info" style="margin-left: 10px">搜索</button>
            </form>
            <br>
            <ul class="nav nav-list list-inline">
                <li class="divider"></li>
            </ul>
            <li class="list-inline-item">
                <div>
                    <input type="button" class="btn btn-success" value="添加用户" data-toggle="modal"
                           data-target="#addAccount" style="margin-right: 10px">
                    <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                         id="addAccount">
                        <div class="modal-dialog col-md-9" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">添加用户</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/addAccount" method="post" class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="accountName"
                                                   class="control-label account-form-label">用户名</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control menu-input" id="accountName"
                                                       name="accountName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="accountRealName"
                                                   class="control-label account-form-label">姓名</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control menu-input" id="accountRealName"
                                                       name="accountRealName">
                                            </div>
                                        </div>
                                        <input type="text" name="accountPassword" hidden="hidden" th:value="123456">
                                        <div class="row">
                                            <label class="account-form-label">性别</label>
                                            <div style="margin-top: 7px;margin-left: 16px;">
                                                <input type="radio" name="accountGender" value="1"
                                                       style="margin-right: 6px">男
                                                <input type="radio" name="accountGender" value="2"
                                                       style="margin-left: 10px;margin-right: 6px">女
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="accountTel" class="control-label account-form-label">手机</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control menu-input" id="accountTel"
                                                       name="accountTel">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label account-form-label">部门</label>
                                            <div class="col-lg-7">
                                                <select name="accountDept" class="form-control menu-input col-lg-8">
                                                    <option selected>--请选择部门--</option>
                                                    <option>财务部</option>
                                                    <option>销售部</option>
                                                    <option>总裁办</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="accountJob" class="control-label account-form-label">职务</label>
                                            <div class="col-lg-7">
                                                <select name="accountJob" id="accountJob"
                                                        class="form-control menu-input col-lg-5">
                                                    <option value="总裁">总裁</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="accountRole" class="control-label account-form-label">角色</label>
                                            <div class="col-sm-9">
                                                <select name="accountRole" id="accountRole"
                                                        class="form-control menu-input col-lg-5">
                                                    <option value="超级管理员">超级管理员</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
                                            <button type="button" class="btn btn-success">保存</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <div>
                    <input type="button" class="btn btn-warning" value="添加web用户">
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <ul class="nav nav-list">
                <li class="divider"></li>
            </ul>
            <br>
            <table border="1" class="table table-bordered table-hover">
                <tr class="success">
                    <th>ID</th>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>注册手机号</th>
                    <th>部门</th>
                    <th>职务</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>lisi</td>
                    <td>李四</td>
                    <td>男</td>
                    <td>123456</td>
                    <td>总裁办</td>
                    <td>总裁</td>
                    <td>2018-06-06 14:40:32</td>
                    <td>
                        <a class="btn btn-success btn-sm" href="#">查看</a>&nbsp;
                        <a class="btn btn-info btn-sm" href="#">编辑</a>&nbsp;
                        <a class="btn btn-warning btn-sm" href="#">重置密码</a>&nbsp;
                        <a class="btn btn-danger btn-sm" href="#">冻结</a>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td>高峰</td>
                    <td>男</td>
                    <td>123456</td>
                    <td></td>
                    <td></td>
                    <td>2018-06-06 14:40:32</td>
                    <td>
                        <a class="btn  btn-danger btn-sm" href="#">冻结web</a>&nbsp;
                        <a class="btn  btn btn-warning btn-sm" href="#">重置密码</a>&nbsp;
                    </td>
                </tr>
            </table>
            <div>
                <table id="mytab" class="table table-hover"></table>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="link_fragements :: jsScript"></div>
<script>
    $('#addAccount').on('show.bs.modal', function () {
        var $this = $(this);
        var $modal_dialog = $this.find('.modal-dialog');
        $this.css('display', 'block');
        $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2)});

    });
</script>
</body>
</html>