<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{link_fragements :: links}">
</head>
<body>
<div class="page">
    <!-- Main Navbar-->
    <header class="header">
        <nav th:replace="~{component_fragements :: nav_fragements}" class="navbar"></nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <nav th:replace="~{component_fragements :: side_fragement(1)}" class="side-navbar"></nav>
        <div class="content-inner" style="margin: 15px">
            <br>
            <ul class="nav nav-list"><li class="divider"></li></ul>
            <input type="button" class="btn btn-success" value="添加职务" data-toggle="modal"
                   data-target="#addJob">
            <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                 id="addJob">
                <div class="modal-dialog col-md-9" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">添加职务</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action="/battalion/saveJob" method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <label for="jobName"
                                           class="control-label account-form-label">职务名称</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control menu-input" id="jobName"
                                               name="jobName" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="jobDescription"
                                           class="control-label account-form-label">职务描述</label>
                                    <div class="col-sm-5">
                                        <textarea type="text" class="form-control menu-input" id="jobDescription"
                                                  name="jobDescription"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="submit" class="btn btn-success">确定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav nav-list"><li class="divider"></li></ul>
            <br>
            <table border="1" class="table table-bordered table-hover">
                <tr class="success">
                    <th>ID</th>
                    <th>职务名称</th>
                    <th>描述</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>

                <tr th:each="job : ${jobs}">
                    <td th:text="${jobStat.count}">1</td>
                    <td th:text="${job.jobName}">CEO</td>
                    <td th:text="${job.jobDescription}">boss</td>
                    <td th:text="${#dates.format(job.createTime,'yyyy-MM-dd HH:mm:ss')}">2018-06-06  14:40:32</td>
                    <td>
                        <button class="btn btn-info btn-sm" data-toggle="modal"
                           data-target="#saveJob" th:onclick="editJob([[${job.jobId}]])">编辑</button>&nbsp;
                        <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                             id="saveJob">
                            <div class="modal-dialog col-md-9" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">添加职务</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/battalion/saveJob" method="post" class="form-horizontal">
                                            <input type="text" name="jobId" hidden="hidden" id="jobId-edit">
                                            <div class="form-group row">
                                                <label for="jobName"
                                                       class="control-label account-form-label">职务名称</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control menu-input" id="jobName-edit"
                                                           name="jobName" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="jobDescription"
                                                       class="control-label account-form-label">职务描述</label>
                                                <div class="col-sm-5">
                                        <textarea type="text" class="form-control menu-input" id="jobDescription-edit"
                                                  name="jobDescription"></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                                <button type="submit" class="btn btn-success">确定</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>
            <div>
                <table id="mytab" class="table table-hover"></table>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="link_fragements :: jsScript"></div>
</body>
</html>