<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{link_fragements :: links}">
</head>
<body>
<div class="page">
    <!-- Main Navbar-->
    <header class="header">
        <nav th:replace="~{component_fragements :: nav_fragements}" class="navbar"></nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav th:replace="~{component_fragements :: side_fragement(1)}" class="side-navbar"></nav>
        <div class="content-inner" style="margin: 15px;">
            <br>
            <input type="button" class="btn btn-success" value="添加角色" data-toggle="modal"
                   data-target="#addRole">
            <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                 id="addRole">
                <div class="modal-dialog col-md-9" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">添加角色</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action="/battalion/addRole" method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <label for="roleName"
                                           class="control-label account-form-label">角色名称</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control menu-input" id="roleName"
                                               name="roleName" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="roleDescription"
                                           class="control-label account-form-label">角色描述</label>
                                    <div class="col-sm-5">
                                        <textarea type="text" class="form-control menu-input" id="roleDescription"
                                                  name="roleDescription"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="submit" class="btn btn-success">确定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-list"><li class="divider"></li></ul>
            <br>
            <table border="1" class="table table-bordered table-hover">
                <tr class="success">
                    <th>ID</th>
                    <th>角色名称</th>
                    <th>描述</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>

                <tr th:each="role : ${roles}">
                    <td th:text="${roleStat.count}">1</td>
                    <td th:text="${role.roleName}">超级管理员</td>
                    <td th:text="${role.roleDescription}">最大权限,admin</td>
                    <td th:text="${#dates.format(role.createTime,'yyyy-MM-dd HH:mm:ss')}">2018-06-06  14:40:32</td>
                    <td>
                        <a class="btn btn-info btn-sm" th:onclick="editRole([[${role.roleId}]])" data-toggle="modal"
                           data-target="#role">编辑</a>&nbsp;
                        <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                             id="role">
                            <div class="modal-dialog col-md-9" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">添加角色</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/battalion/saveRole" method="post" class="form-horizontal" id="formRole">
                                            <input type="text" hidden id="roleId" name="roleId">
                                            <div class="form-group row">
                                                <label for="roleName-edit"
                                                       class="control-label account-form-label">角色名称</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control menu-input" id="roleName-edit"
                                                           name="roleName" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="roleDescription-edit"
                                                       class="control-label account-form-label">角色描述</label>
                                                <div class="col-sm-5">
                                        <textarea type="text" class="form-control menu-input" id="roleDescription-edit"
                                                  name="roleDescription"></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                                <button type="submit" class="btn btn-success" onclick="saveRole()">确定</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-warning btn-sm">设置权限</a>&nbsp;
                    </td>
                </tr>
            </table>
            <div>
                <table id="mytab" class="table table-hover"></table>
            </div>
        </div>
    </div>
</div>
</div>

<div th:replace="link_fragements :: jsScript"></div>
</body>
</html>