<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{link_fragements :: links}">
  </head>
  <body>
    <div class="page">
      <!-- Main Navbar-->
      <header class="header">
          <nav th:replace="~{component_fragements :: nav_fragements}" class="navbar">

          </nav>
      </header>
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
          <nav th:replace="~{component_fragements :: side_fragement(1)}" class="side-navbar">

          </nav>

      </div>
    </div>
    <div th:replace="link_fragements :: jsScript"></div>
  </body>
</html>