<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>量营家后台管理系统</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/body.css}" href="/css/body.css"/>
</head>
<body>
<div class="container">
	<section id="content">
		<form action="/login" method="POST">
			<h2>量营家后台管理系统</h2>
			<div style="margin-top: 10px;">
				<input type="text" placeholder="账号" required="" name="username" id="username"/>
			</div>
			<div>
				<input type="password" placeholder="密码" required="" name="password" id="password"/>
			</div>
			<div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo" th:text="${errMsg}"></span>
			</div>
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="submit" value="登录" class="btn btn-primary" id="js-btn-login" style="margin-left: 30%;"/>
				<a href="#">忘记密码?</a>
				<!-- <a href="#">Register</a> -->
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div>
<!-- container -->


<br><br><br><br>
<div style="text-align:center;">
</div>
</body>
</html>